<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman App</title>
  </head>
  <body>
    <h1>"hello let's play hangman"</h1>
    <h2>{{content}}</h2>
    <h3>Your word is {{blanks}}</h3>
    <form method="post">
      <div>
        <label>Enter a letter:</label>
        <div>
          <input type="text" maxlength="1" name="letter" />
        </div>
      </div>
      <p><button type="submit">Submit</button></p>
    </form>
    <!-- <p>{{content}}</p>
    <p>{{r}}</p> -->
  </body>
</html>
